body
{	background-color:#282828;
	background-image:url('files/bg.png');
	background-image:linear-gradient(to bottom,#282828,#AA00FF);
	background-attachment:fixed;
	color:#FFF;
	font-family: Arial;

	text-align:center;
}

.formcontainer
{	display:flex;
	justify-content:center;
	align-items:center;
}
form
{	background-color:rgb(0,0,0,.55);
	text-align:center;
	width:75%;
	max-width:750px;
}


label
{	font-weight:bold;
	font-size:1.28em;
}
label img
{	max-width:75%;
	height:auto;
	margin:10px;
}

button
{	padding:6px;
	margin:20px;
	width:300px;
	background-color:#AA00FF;
	color:#FFF;
	border-radius:20px;
	font-size:1.5em;
}



input[type="text"]
{	padding:6px;
	margin:10px;
	width:325px;
}
input.correct
{	background-color: #d4edda;
	border: 2px solid #28a745;
}
input.incorrect
{	background-color: #f8d7da;
	border: 2px solid #dc3545;
}


.flagContainer
{	display:flex;
	justify-content:center;
	align-items:center;
	height:100%;
	font-size:4em;
}
#FLAG
{	transition:opacity 0.4s ease;	opacity:.95;
	transition:transform 0.4s ease;	transform:scale(1);
	text-shadow:0 0 10px rgba(0,0,0,.9);
}
#FLAG:hover
{	transition:opacity 0.2s ease;	opacity:1;
	transition:transform 0.2s ease;	transform:scale(1.05);
	cursor:pointer;
}
#FLAG:active
{	transition:transform 0.15s ease;transform:scale(1);
	opacity:1;
}
